{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}

<a href="/homepage" class="btn btn-default">My Homepage</a>
<a href="/timeline/all" class="btn btn-default">All Videos</a>
<a href="/timeline" class="btn btn-default">Videos from friends</a>
<br />
<br />

<table class="table">
    <tr>
        <th>Title</th>
        <th>User</th>
        <th>Time</th>
    </tr>
    
{% for video in videos %}

    <tr>
	    <td><a href="/videoplay/{{video.id}}">{{video.title}}</a></td>
	    <td><a href="/personalPage/{{video.owner.id}}">{{video.owner.username}}</a> </td>
	    <td>{{video.uploadtime}}</td>
	</tr>
{% endfor %}
</table>

{% endblock %}
