{% extends "banner_base.html" %}

{% block banner %}
    <a>配置文件上传</a>
     <form enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}
        <table>
        <tr><th><label for="id_description">description:</label></th><td><input id="id_description" maxlength="1000"          name="description" type="text" /></td></tr>
        <tr><th><label for="id_file">File:</label></th><td><input id="id_file" name="file" type="file" /></td></tr>
        </table>
        <input id="submit" type="submit" value="submit" />
      </form>
{% endblock %}
