.mybanner{
    font-size:20px;
    float:left;
    position:relative;
    top:10px;
    left:50px;
    }

div.mybanner ul{

    list-style-type:none;
    }
    
div.mybanner ul li{
float:left;

}    
div.mybanner ul li a{
    text-decoration:none;
    margin-right:20px;
}
    
